<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>ホーム</title>
<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/shared.css}">
<link rel="stylesheet" th:href="@{http://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css}">
<script type="text/javascript" th:src="@{https://cdn.jsdelivr.net/npm/chart.js}"></script>
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" th:href="@{/}">My AccountBook</a>
	<span class="navbar-nav col-sm-8 col-md-9 welcome" th:text="${loginUser} + さん、ようこそ"></span>
	<ul class="navbar-nav px-3">
		<li class="nav-item text-nowrap">
			<form th:action="@{/logout}" name="logout" method="post">
				<a class="nav-link" href="javascript:logout.submit()">ログアウト</a>
			</form>
		</li>
	</ul>
</header>
<div class="container-fluid">
	<div class="row">
    	<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      		<div class="position-sticky pt-3">
        		<ul class="nav flex-column">
          			<li class="nav-item">
            			<a class="nav-link active" th:href="@{/user/home}">
             				<i class="bi bi-house"></i>
        					ホーム
            			</a>
          			</li>
					<li class="nav-item">
        				<a class="nav-link" th:href="@{/entry/register}">
        					<i class="bi bi-pencil"></i>
        					仕訳登録
        				</a>
        			</li>
        			<li class="nav-item">
        				<a class="nav-link" id="entries" th:href="@{#}">
        					<i class="bi bi-file-text"></i>
        					月別仕訳一覧
        				</a>
        			</li>
        			<li class="nav-item">
        				<a class="nav-link" id="pl" th:href="@{#}">
        					<i class="bi bi-bar-chart-line"></i>
        					月別収支一覧
        				</a>
        			</li>
                	<li class="nav-item">
        				<a class="nav-link" id="bs" th:href="@{#}">
        					<i class="bi bi-bar-chart-line"></i>
        					月別資産状況一覧
        				</a>
        			</li>
        			<li class="nav-item">
        				<a class="nav-link" th:href="@{/accounttitle/list}">
        					<i class="bi bi-list-ul"></i>
        					勘定科目管理
        				</a>
        			</li>
        			<li class="nav-item">
        				<a class="nav-link" th:href="@{/settings/budget}">
        					<i class="bi bi-calculator"></i>
        					予算設定
        				</a>
        			</li>
        		</ul>
      		</div>
    	</nav>
		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-4">
      		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        		<h1 class="h2"></h1>
        		<div class="btn-toolbar mb-2 mb-md-0">
        			<form class="form-group mx-2">
						<input type="month" class="form-control" id="input-month" name="selectedYearMonth" th:value="${selectedYearMonth}" onchange="changeLocation()">
					</form>
					<script type="text/javascript">
						function changeLocation() {
							var selected = document.getElementById('input-month');
							location.href = '/user/home/' + selected.value;
						}
					</script>
				</div>
      		</div>
      		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mx-auto w-75">
      			<div class="w-50">
		      		<canvas class="my-4" id="expensesChart"></canvas>
		      		<div class="text-center fs-3" th:text="合計： + ${totalOfExpenses}"></div>
					<script type="text/javascript" th:inline="javascript">
						var ctx = document.getElementById('expensesChart');
						var expensesChart = new Chart(ctx, {
							type: 'doughnut',
							data: {
								labels: /*[[${expensesLabels}]]*/ _,
								datasets: [{
									label: '金額',
									backgroundColor: [
										'#dc143c',
										'#ff69b4',
										'#ff8c00',
										'#ffd700',
										'#00ff00',
										'#6b8e23',
										'#00ffff',
										'#7fffd4',
										'#e0ffff',
										'#dcdcdc',
										'#dcdcdc',
										'#dcdcdc',
										'#dcdcdc',
										'#dcdcdc',
										'#dcdcdc'
									],
									data: /*[[${expensesData}]]*/ _
								}]
							},
							options: {
								responsive: true,
								plugins: {
									title: {
										display: true,
										text: '今月の支出',
										font: {
											size: 36
										},
										padding: {
											bottom: 20
										}
									},
									legend: {
										labels: {
											font: {
												size: 20
											}
										}
									}
								}
							}
						});
					</script>
				</div>
				<div class="w-50">
					<canvas class="my-4" id="revenueChart"></canvas>
					<div class="text-center fs-3" th:text="合計： + ${totalOfRevenue}"></div>
					<script type="text/javascript" th:inline="javascript">
						var ctx = document.getElementById('revenueChart');
						var expensesChart = new Chart(ctx, {
							type: 'doughnut',
							data: {
								labels: /*[[${revenueLavels}]]*/ _,
								datasets: [{
									label: '金額',
									backgroundColor: [
										'#00bfff',
										'#00ffff',
										'#87cefa',
										'#40e0d0',
										'#00ff7f',
										'#00fa9a',
										'#9acd32',
										'#ee82ee',
										'#dda0dd',
										'#dcdcdc',
										'#dcdcdc',
										'#dcdcdc',
										'#dcdcdc',
										'#dcdcdc',
										'#dcdcdc'
									],									
									data: /*[[${revenueData}]]*/ _
								}]
							},
							options: {
								responsive: true,
								plugins: {
									title: {
										display: true,
										text: '今月の収入',
										font: {
											size: 36
										},
										padding: {
											bottom: 20
										}
									},
									legend: {
										labels: {
											font: {
												size: 20
											}
										}
									}
								}
							}
						});
					</script>
				</div>
			</div>
    	</main>
	</div>
</div>
<footer class="footer">
	<div class="container"></div>
</footer>
<script type="text/javascript" th:src="@{/js/shared.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
</body>
</html>