@charset "UTF-8";

html, body {
	height: 100%;
	background-color: #f5f5f5;
}

.main-area {
	text-align: center;
	align-items: center;
	padding-top: 80px;
	padding-bottom: 40px;
}

.form-signup {
	width: 100%;
	max-width: 400px;
	padding: 15px;
	margin: auto;
}

.form-signup .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signup .btn {
	margin-top: 40px;
	margin-bottom: 20px;
	width: 100%;
}

.form-area {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px; 
}

.form-text {
	font-size: 0.8rem;
	color: #495057;
	
}

.footer {
	background-color: #f5f5f5;
}