<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>仕訳入力画面</title>
</head>
<body>
<form action="/completed" method="post" th:object="${journalEntryRegisterParam}"> <!-- TODO action属性について考える -->
	<div>
		取引日<br>
		<input type="date" th:field="*{dealDate}"> <!-- TODO 初期値として今日の日付を表示できるようにしたい -->
		<span th:if="${#fields.hasErrors('dealDate')}" th:errors="*{dealDate}"></span>
	</div>
	<div>
		摘要<br>
		<input type="text" th:field="*{description}">
		<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
	</div>
	<div>
		借方勘定科目<br>
		<select name="detailParams[0].accountTitleId">
			<option></option>
			<option th:each="accountTitle:${accountTitleList}" th:value="${accountTitle.id}" th:text="${accountTitle.name}"></option>
		</select>
		<span th:if="${#fields.hasErrors('detailParams[0].accountTitleId')}" th:errors="*{detailParams[0].accountTitleId}"></span>
	</div>
	<div>
		<input type="hidden" value="DEBIT" name="detailParams[0].detailLoanType">
	</div>
	<div>
		借方金額<br>
		<input type="number" th:field="*{detailParams[0].amount}">
		<span th:if="${#fields.hasErrors('detailParams[0].amount')}" th:errors="*{detailParams[0].amount}"></span>
	</div>
	<div>
		貸方勘定科目<br>
		<select name="detailParams[1].accountTitleId">
			<option></option>
			<option th:each="accountTitle:${accountTitleList}" th:value="${accountTitle.id}" th:text="${accountTitle.name}"></option>
		</select>
		<span th:if="${#fields.hasErrors('detailParams[1].accountTitleId')}" th:errors="*{detailParams[1].accountTitleId}"></span>
	</div>
	<div>
		<input type="hidden" value="CREDIT" name="detailParams[1].detailLoanType">
	</div>
	<div>
		貸方金額<br>
		<input type="number" th:field="*{detailParams[1].amount}">
		<span th:if="${#fields.hasErrors('detailParams[1].amount')}" th:errors="*{detailParams[1].amount}"></span>
	</div>
	<div>
		<input type="submit" value="登録">
	</div>
</form>
</body>
</html>