<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>月別仕訳一覧</title>
<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/shared.css}">
<link rel="stylesheet" th:href="@{http://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css}">
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" th:href="@{/}">Account Book Application</a>
	<span class="navbar-nav col-sm-8 col-md-9 welcome" th:text="${loginUser} + さん、ようこそ"></span>
	<ul class="navbar-nav px-3">
		<li class="nav-item text-nowrap">
			<form th:action="@{/logout}" name="logout" method="post">
				<a class="nav-link" href="javascript:logout.submit()">ログアウト</a>
			</form>
		</li>
	</ul>
</header>
<div class="container-fluid">
	<div class="row">
    	<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      		<div class="position-sticky pt-3">
        		<ul class="nav flex-column">
        			<li class="nav-item">
        				<a class="nav-link" th:href="@{/user/home}">
        					<i class="bi bi-house"></i>
        					ホーム
        				</a>
        			</li>        		
        			<li class="nav-item">
        				<a class="nav-link" th:href="@{/entry/register}">
        					<i class="bi bi-pencil"></i>
        					仕訳登録
        				</a>
        			</li>
        			<li class="nav-item">
        				<a class="nav-link active" id="entries" th:href="@{#}">
        					<i class="bi bi-file-text"></i>
        					月別仕訳一覧
        				</a>
        			</li>
        			<li class="nav-item">
        				<a class="nav-link" id="pl" th:href="@{#}">
        					<i class="bi bi-bar-chart-line"></i>
        					月別収支一覧
        				</a>
        			</li>
                	<li class="nav-item">
        				<a class="nav-link" id="bs" th:href="@{#}">
        					<i class="bi bi-bar-chart-line"></i>
        					月別資産状況一覧
        				</a>
        			</li>
        			<li class="nav-item">
        				<a class="nav-link" th:href="@{/accounttitle/list}">
        					<i class="bi bi-list-ul"></i>
        					勘定科目管理
        				</a>
        			</li>
        			<li class="nav-item">
        				<a class="nav-link" th:href="@{#}">
        					<i class="bi bi-calculator"></i>
        					予算管理　※作成中
        				</a>
        			</li>
        			<li class="nav-item">
        				<a class="nav-link" th:href="@{#}">
        					<i class="bi bi-gear"></i>
        					個人設定　※作成中
        				</a>
        			</li>
        		</ul>
        	</div>
		</nav>
 		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-4">
      		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	        	<h1 class="h2">月別仕訳一覧</h1>
        		<div class="btn-toolbar mb-2 mb-md-0">
					<form class="form-group mx-2">
						<input type="month" class="form-control" id="input-month" name="selectedYearMonth" th:value="${selectedYearMonth}" onchange="selectMonth()">
					</form>
          			<div class="btn-group me-2" role="group" aria-label="Basic radio toggle button group">
						<input type="radio" class="btn-check" th:text="${orderKey}" value="DEAL_DATE" id="btnradio1" onclick="sortEntries('date')" autocomplete="off">
						<label class="btn btn-outline-secondary" for="btnradio1">日付順</label>
					  	<input type="radio" class="btn-check" th:text="${orderKey}" value="TOTAL_AMOUNT" id="btnradio2" onclick="sortEntries('amount')" autocomplete="off">
					  	<label class="btn btn-outline-secondary" for="btnradio2">金額順</label>
					</div>
        		</div>
      		</div>
			<div th:if="${errorMessage}">
				<div class="alert alert-danger d-flex align-items-center" role="alert">
					<i class="bi bi-exclamation-triangle-fill"></i>
		    		<span class="mx-2" th:text="${errorMessage}"></span>
		    	</div>
		    </div>
 			<div class="table-responsive">
		        <table class="table table-striped">
		        	<thead>
		            	<tr>
		              		<th>取引日</th>
		              		<th class="col-3">摘要</th>
		              		<th class="col-1">借方科目</th>
		              		<th class="text-end">借方金額</th>
		              		<th class="col-1">貸方科目</th>
		              		<th class="text-end">貸方金額</th>
		              		<th class="text-end">合計金額</th>
		              		<th></th>
		            	</tr>	            	
		          	</thead>
		          	<tbody>
		            	<tr th:each="entry : ${entries}" th:object="${entry}">
		              		<td th:text="*{dealDate}"></td>
		              		<td th:text="*{description}"></td>
			              	<td colspan="2">
			              		<table class="w-100 m-0 p-0">
			              			<tr th:each="debit : *{debitDetails}" th:object="${debit}">
										<td class="p-0" th:text="*{mergedAccountTitleName}"></td>
										<td class="p-0 text-end" th:text="*{amount}"></td>		              			
			              			</tr>			              			
			              		</table>
			              	</td>
		              		<td colspan="2">
		              			<table class="w-100">
			              			<tr th:each="credit : *{creditDetails}" th:object="${credit}">
										<td class="p-0" th:text="*{mergedAccountTitleName}"></td>
										<td class="p-0 text-end" th:text="*{amount}"></td>		              			
			              			</tr>
			              		</table>
		              		</td>
		              		<td class="text-end" th:text="*{totalAmount}"></td>
		              		<td class="text-end">
		            			<a th:href="@{/entry/entry/__*{entryId}__}">詳細</a>
		            		</td>
		            	</tr>
		          	</tbody>
		        </table>
      		</div>
		</main>
	</div>
</div>
<footer class="fixed-bottom">
	<div class="container"></div>
</footer>
<script type="text/javascript" th:src="@{/js/shared.js}"></script>
<script type="text/javascript" th:src="@{/js/entries.js}"></script>
</body>
</html>